.project-page {
  display: flex;
  flex-direction: column;
  padding-inline: 5rem;
  color: #2c2b30;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.project-title {
  font-size: clamp(0.1rem, 5vh, 3rem);
  font-weight: 100;
  text-align: center;
}

.projects-table {
  width: 100%;
  border-radius: 1rem;
  border-spacing: 0;
}

.wrap {
  flex-wrap: wrap;
}

thead,
tfoot {
  tr {
    background-color: #2c2b30;
    color: #d6d6d6;

    th {
      padding-block: 0.5rem;
      font-weight: 900;
    }
  }
}

tbody {
  tr {
    cursor: pointer;
    height: 3rem;
  }

  tr:hover {
    background-color: #f58e7c17;
  }
}

thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

tfoot {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.table-cont {
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
  border: 1px solid #2c2b3046;
  border-radius: 1rem;
}

.accent-btn {
  background-color: #1b3dff;
  transition: background-color 0.15s ease-in-out;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 1rem;
}

.accent-btn:hover {
  background-color: #0f29bb;
}

.table-expl {
  font-size: clamp(1rem, 4vh, 3rem);
  font-weight: 800;
  color: #d6d6d6;
}

.yprojects-modal {
  backdrop-filter: blur(5px);
  background-color: #2c2b30c9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 50;
}

.modal-bck {
  width: 80%;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: #2c2b30;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-table {
  width: 100%;
  border-spacing: 0px;
  border-radius: 1rem;
  overflow: hidden;

  thead,
  tfoot {
    tr {
      background-color: #d6d6d6;

      th {
        padding-block: 0.5rem;
        font-weight: 900;
        color: #2c2b30;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      height: 3rem;
      color: #d6d6d6;
    }

    tr:hover {
      background-color: #d6d6d628;
    }
  }
}

.add-p-cont {
  backdrop-filter: blur(5px);
  background-color: #2c2b30c9;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  display: flex;

  z-index: 50;
}

.add-background {
  margin-left: auto;
  height: 100%;
  width: fit-content;
  background-color: #2c2b30;
  border-radius: 2rem 0rem 0rem 2rem;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30rem;
}

.margint-1 {
  margin-top: 2rem;
}

.marginb-1 {
  margin-bottom: 2rem;
}

.textarea-desc {
  background-color: transparent;
  border: 2px solid #d6d6d6;
  resize: none;
  border-radius: 0.3rem;
  min-height: 25rem;
  color: white;
  font-family: "Inter", sans-serif;
}

.textarea-desc:focus {
  outline: none;
  border: 2px solid #979797;
}

.add-label {
  color: #d6d6d6;
  font-size: clamp(1rem, 2vh, 1.2rem);
  font-weight: 300;
}

.table-click-text {
  color: #d6d6d6;
  font-weight: 200;
  margin-block: 2rem 1rem;
}

.pdetails-modal {
  backdrop-filter: blur(5px);
  background-color: #2c2b30c9;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10rem;

  z-index: 50;
}

.modal-light {
  width: 40%;
  height: 40rem;
  background-color: #d6d6d6;
  color: #2c2b30;
  padding: 2rem;
  border-radius: 2rem 0rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 3rem;
  }
}

.modal-dark {
  width: 40%;
  height: 40rem;
  background-color: #2c2b30;
  color: #d6d6d6;
  padding: 2rem;
  border-radius: 0rem 2rem 2rem 0rem;
  display: flex;
  flex-direction: column;
}

.delete-btn {
  background-color: #f84121;
  transition:
    0.15s background-color ease-in-out,
    0.15s scale ease-in-out;
  color: #d6d6d6;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 4rem;
  z-index: 100;
}

.x-btn-cont {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.delete-btn-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  width: fit-content;
}

.delete-btn-text {
  background-color: #fd0000;
  color: #d6d6d6;
  border-radius: 0rem 2rem 2rem 0rem;
  border: none;
  padding: 0.5rem;
  padding-left: 0.8rem;
  font-weight: 600;

  position: absolute;
  left: 3.5rem;

  transform: translateX(-20px) scaleX(0);
  transform-origin: left center;

  transition: transform 0.3s ease;
  z-index: 1;
}

.delete-btn-cont:hover .delete-btn-text {
  transform: translateX(0) scaleX(1);
  cursor: pointer;
}

.delete-btn-cont:hover .delete-btn {
  cursor: pointer;
  background-color: #fd0000;
  scale: 1.05;
}

.bugs-table {
  width: 100%;
  border-spacing: 0px;
  border-radius: 1rem;
  overflow: hidden;

  thead,
  tfoot {
    tr {
      background-color: #2c2b30;
      color: #d6d6d6;

      th {
        padding-block: 0.5rem;
        font-weight: 900;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;
      height: 3rem;
    }

    tr:hover {
      background-color: #f58e7c17;
    }
  }
}

.edit-cont {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 2rem;
}

.textarea-desc-edit {
  background-color: transparent;
  border: 2px solid #d6d6d6;
  resize: none;
  border-radius: 0.3rem;
  color: white;
  font-family: "Inter", sans-serif;
  min-height: 15rem;
}

.textarea-desc-edit:focus {
  outline: none;
  border: 2px solid #979797;
}

.confirm-btn-cont {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirm-btn {
  background-color: #1b3dff;
  transition:
    0.15s background-color ease-in-out,
    0.15s scale ease-in-out;
  color: #2c2b30;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 4rem;
  z-index: 100;
}

.confirm-btn-text {
  background-color: #0f29bb;
  color: #2c2b30;
  border-radius: 2rem 0rem 0rem 2rem;
  border: none;
  padding: 0.5rem;
  padding-right: 0.8rem;
  font-weight: 600;

  position: absolute;
  right: 3.5rem;

  transform: translateX(20px) scaleX(0);
  transform-origin: right center;

  transition: transform 0.3s ease;
}

.confirm-btn-cont:hover .confirm-btn-text {
  transform: translateX(0) scaleX(1);
  cursor: pointer;
}

.confirm-btn-cont:hover .confirm-btn {
  scale: 1.05;
  background-color: #0f29bb;
  cursor: pointer;
}

@media screen and (width < 600px) {
  .wrap {
    justify-content: center;
    gap: 1rem;
  }

  .table-cont {
    width: 100%;
    max-height: 23rem;
    overflow-y: auto;
    border: 1px solid #2c2b3046;
    border-radius: 1rem;
  }

  .project-page {
    padding-inline: 2rem;
  }

  thead,
  tfoot,
  tbody {
    tr {
      th {
        font-size: 0.9rem;
      }
    }
  }

  .add-p-cont {
    backdrop-filter: blur(5px);
    background-color: #2c2b30c9;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;

    z-index: 50;
  }

  .add-background {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0rem;
  }

  .pdetails-modal {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 0rem;
    background-color: transparent;
    top: 0;
    min-width: 0rem;
  }

  .modal-light {
    width: 100%;
    height: 50%;
    border-radius: 0rem;
    padding: 0rem;

    h1 {
      font-size: 2rem;
      margin-top: 1rem;
    }
  }

  .modal-dark {
    width: 100%;
    height: 50%;
    padding: 0rem;
    border-radius: 0rem;
    padding: 0rem;
  }
}
